
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.user
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
32x32/
src/
*.pro
*.pro.user
*.dll
*.[Dd]ebug
*.[Rr]elease
cache/
[Mm]akefile
tmp/*
audio_player.pro.user
audio_player.pro.user.15
audio_player.pro.user.3.0-pre1
audio_player.pro.user.bbf3030
audio_player.pro.user
audio_player.pro.user
audio_player.pro.user.bbf3030.2.7pre1
audio_player.pro.user
*.autosave
*.autosave~
audio_player.pro.user
